form {
  padding: var( --default-padding) calc(2 * var( --default-padding)) ;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
}

form fieldset {
  border: none;
}

form h3 {
  margin-bottom: .8rem;
}

form input[type=text], form select{
  border: none;
  width: 100%;
  /* height: 32px; */
  font-size: 1rem;
  background-color: rgb(118 118 128 / .24);
  color: rgb(255 255 255);
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.settings-items {
  display: contents;
}