.settings-form {
  padding: var( --default-padding) calc(2 * var( --default-padding)) ;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
}

.settings-form fieldset {
  border: none;
}

.settings-form h3 {
  margin-bottom: .8rem;
}

.settings-form input[type=text], .settings-form select{
  border: none;
  width: 100%;
  /* height: 32px; */
  font-size: 1rem;
  background-color: rgb(118 118 128 / .24);
  color: rgb(255 255 255);
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.settings-items {
  display: contents;
}

/* segmented picker */

.segmented-picker {
  align-items: center;
  background-color: rgb(118 118 128 / .24);
  color: rgb(255 255 255);
  border-radius: 8px;
  display: flex;
  overflow: hidden;
  padding: 2px;
  width: auto;

  & > input {
    pointer-events: none;
    position: absolute;
    visibility: hidden;

    &:nth-last-of-type(1):checked ~ label:last-of-type::before {
      left: 0;
    }

    &:nth-last-of-type(2):checked ~ label:last-of-type::before {
      left: -100%;
    }

    &:nth-last-of-type(3):checked ~ label:last-of-type::before {
      left: -200%;
    }

    /* &:nth-last-of-type(4):checked ~ label:last-of-type::before {
      left: -300%;
    }

    &:nth-last-of-type(5):checked ~ label:last-of-type::before {
      left: -400%;
    }

    &:nth-last-of-type(6):checked ~ label:last-of-type::before {
      left: -500%;
    }

    &:nth-last-of-type(7):checked ~ label:last-of-type::before {
      left: -600%;
    }

    &:nth-last-of-type(8):checked ~ label:last-of-type::before {
      left: -700%;
    }

    &:nth-last-of-type(9):checked ~ label:last-of-type::before {
      left: -800%;
    } */
  }

  & > label {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 8px;
    position: relative;

    & > span {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.02em;
      position: relative;
      z-index: 2;
    }

    &:not(:first-of-type) {
      &::after {
        /* // divider */

        background-color: rgb(0, 0, 0, 4%);
        content: "";
        display: block;
        height: 16px;
        left: 0;
        position: absolute;
        width: 1px;
        z-index: 0;
      }
    }

    &:last-of-type {
      &::before {
        /* // Moving selection background
        // This needs to be based on the last item, because CSS can
        // only reference subsequent siblings. */

        background-color: rgb(99, 99, 102);
        border-radius: 6px;
        /* box-shadow:  */
        /* 0 2px 6px rgb(20, 20, 20),  */
        /* 0 0 0 2px rgb(10 10 10 / .1); */
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: 250ms ease;
        width: 100%;
        z-index: 1;
      }
    }
  }
}
