<!-- box cidade/clima -->
<section class="weather-card">
  <div class="weather-info">
    <div class="city-name">Cidade</div>
    <div class="temp"></div>
    <span class="weather-tags">
      <span>
        min <span class="min-span"></span>
      </span>
      <span>
        max <span class="max-span"></span>
      </span>
    </span>
  </div>
  <img alt="weather icon" class="weather-icon">
</section>

<!-- mensagem + relogio (watchface) + data principal -->
<main class="time-date-container">
  <p class="greeting-message title3"></p>
  <time datetime="" class="time"></time>
  <p class="date"></p>
</main>