`
<div>
  <h3 class="title3">Tratamento</h3>
  <select required id="formaTratamento" name="formaTratamento">
    <option selected disabled>Selecione</option>
  </select>
</div>
<div>
  <h3 class="title3">Seu Nome</h3>
  <input id="nome" type="text" value="${user.nome}" name="nome" />
</div>
<div>
  <h3 class="title3">Cidade ou Região</h3>
  <input id="city" type="text" value="${user.city}" name="city" />
</div>
<div>
  <h3 class="title3">Unidade Temperatura</h3>
  <div class="segmented-picker">
    <input value="C" id="C" type="radio" name="unit" ${appState.user.unit==='C' ? 'checked' : '' } />
    <label for="C"><span>Celsius</span></label>

    <input value="F" id="F" type="radio" name="unit" ${appState.user.unit==='F' ? 'checked' : '' } />
    <label for="F"><span>Fahrenheit</span></label>

    <input value="K" id="K" type="radio" name="unit" ${appState.user.unit==='K' ? 'checked' : '' } />
    <label for="K"><span>Kelvin</span></label>
  </div>
</div>
<div>
  <h3 class="title3">Segundos</h3>
  <div class="segmented-picker">
    <input value="false" id="show" type="radio" name="hideSec" ${!appState.user.hideSec ? 'checked' : '' } />
    <label for="show"><span>Mostrar</span></label>
    <input value="true" id="hide" type="radio" name="hideSec" ${!!appState.user.hideSec ? 'checked' : '' } />
    <label for="hide"><span>Esconder</span></label>
  </div>
</div>

<div>
  <h3 class="title3">Formato Relógio</h3>
  <div class="segmented-picker">
    <input value="true" id="is12hour" type="radio" name="is12Hour" ${!!appState.user.is12Hour ? 'checked' : '' } />
    <label for="is12hour"><span>12 Horas</span></label>
    <input value="false" id="is24hour" type="radio" name="is12Hour" ${!appState.user.is12Hour ? 'checked' : '' } />
    <label for="is24hour"><span>24 Horas</span></label>
  </div>
</div>

<div>
  <h3 class="title3">Usar Tema Neutro</h3>
  <div class="segmented-picker">
    <input value="true" id="yes" type="radio" name="useNeutralTheme" ${appState.user.useNeutralTheme ? 'checked' : ''
      } />
    <label for="yes"><span>Sim</span></label>

    <input value="false" id="no" type="radio" name="useNeutralTheme" ${!appState.user.useNeutralTheme ? 'checked' : ''
      } />
    <label for="no"><span>Não</span></label>
  </div>
</div>
<div>
  <h3 class="title3">Toque Padrão</h3>
  <select id="defaultRingtone" name="defaultRingtone">
    <option selected disabled value="null">Selecione</option>
    <option value="marimba">Marimba</option>
  </select>
</div>
`