/* checkboxes */

.checkbox-group {
	display: flex;
  flex-wrap: wrap;
	gap: .125rem;
	justify-content: space-around;
	user-select: none;
}

.checkbox-group-legend {
	color: white;
	text-align: center;
}

.checkbox-input {
	isolation: isolate;
	appearance: none;
  &:checked + .checkbox-tile {
    background-color: rgb(99, 99, 102);
    .checkbox-label {
      color: white;
    }
  }
}

.checkbox-tile {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	min-width: 2.5rem;
  aspect-ratio: 1;
  background-color: rgb(118 118 128 / .24);
  border-radius: 8px;
	transition: 0.15s ease;
	cursor: pointer;
	& .checkbox-label {
		font-size: .8rem;
	}
}
